.money-form {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 50vh;
    border: 2px solid black;
}

.form-heading {
   font-size: 20px; 
}
.form-input {
    width: 18vw;
    height: 6vh;
    border-radius: 10px;
}
.form-btn {
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
}
.btn {
    width: 19vw;
    height: 5vh;
    background: #1264d0;
    margin-top: 8px;
    color: white;
}
.notes {
    display: flex;
}
 .demo {
    display: flex;
    border: 2px solid black;
    width: 99vw;
    flex-direction: row
} 